body {
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}

#currentDate, #currentCity {
    font-size: 1.5em;
}

.fontSize {
    font-size: .9em;
}

.searchHistoryBtns {
    margin-top: 5px;
    background-color: rgb(224, 26, 4);
    border-radius: 25%;
    align-items: center;
    color: aliceblue;
    margin-left: 11px;
}

.hidden {
    display: none;
}

.visible {
    display: visible;

}